*{
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
    overflow-y: auto;
}

li, a {
    font-weight: 500;
    font-size: 18px;
    color: white;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 5%;
    /*background: rgba(238, 58, 193, 0.329);*/
}

.heading {
    font-size:  25px;
    text-transform: uppercase;
    letter-spacing: 10px;
    border-bottom: 3px solid #fff;
}
.nav-links{
    list-style: none;
}
.nav-links li{
    display: inline-block;
    padding: 0px 20px;
}

.nav-links li a{
    transition: all 0.3s ease-in-out 0s;

}

.nav-links li a:hover{
    color: black;
    border-bottom: 1px solid #fff;
}
.cta{
    background: rgba(0, 0, 0, 0.25);
    padding: 9px 25px;
    margin: 5px;
    border-radius: 20px;
    transition: 0.3s ease-in-out;
    cursor: pointer;
}
.cta:hover{
    background: rgba(0, 0, 0, 0.651);
    border-radius: 20px;
}